@charset "utf-8";
/*여백초기화*/
body, 
div, p, select,
ul, ol, li, 
dl, dt, dd,
h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, textarea, button, form,figure,img,
table, th, td, tr {
    margin: 0; 
    padding: 0;}

/*스킵메뉴 초기화*/
a {
    color: currentColor; 
    text-decoration: none;
    cursor: pointer;  
}
a:hover {
    color: #666;
 }

/*폰트 초기화*/
body,input,textarea,table,button,select {
    font-family: 'Nanum Gothic';
    font-size: 15px; 
    color: #222; 
    line-height: 1.5; 
 }

/*폰트 스타일 초기화*/
em ,address {
    font-style: normal;
}

/*블릿기호 초기화*/

dl,ul,li,ol,menu{
    list-style: none;
}
/* 이미지 비디오 */
img, video{
    /* width: 100%; */
    display: block;
}

/*제목 초기화*/
h1,h2,h3,h4,h5,h6{
    font-size: 15px; 
    color: currentColor; 
    font-weight: normal;  
}

/*테두리 초기화*/
img, fieldset, button{
    border: 0 none;
}


/*ir기법*/
.ir_pm{ 
    display: block; 
    overflow: hidden; 
    font-size: 0;
    line-height: 0;
    text-indent: 9999px;
}
.ir_wa{
     display: block; 
     overflow: hidden; 
     position: relative; 
     z-index: -1; 
     width: 100%;
     height: 100%;
}

/*접근성을 위한 텍스트 숨김효과*/
.ir_su{
    display: block; 
    overflow: hidden; 
    position: absolute; 
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: 9999px;
}

/* clearfix */
.clearfix::before, .clearfix::after {
    display: block;
    content: '';
    line-height: 0;
}
.clearfix::after {
    clear: both;
}

/*margin top*/
.mgt5 {margin-top: 5px;}
.mgt10 {margin-top: 10px;}
.mgt15 {margin-top: 15px;}
.mgt20 {margin-top: 20px;}
.mgt25 {margin-top: 25px;}
.mgt30 {margin-top: 30px;}
.mgt35 {margin-top: 35px;}
.mgt40 {margin-top: 40px;}
.mgt45 {margin-top: 45px;}

.mgl10 {margin-left: 10px;}
.mgl15 {margin-left: 15px;}
.mgl20 {margin-left: 20px;}
.mgl25 {margin-left: 25px;}
.mgl30 {margin-left: 30px;}
.mgl35 {margin-left: 35px;}
.mgl40 {margin-left: 40px;}
.mgl45 {margin-left: 45px;}


.mgr10 {margin-right: 10px;}
.mgr15 {margin-right: 15px;}
.mgr20 {margin-right: 20px;}
.mgr25 {margin-right: 25px;}
.mgr30 {margin-right: 30px;}
.mgr35 {margin-right: 35px;}
.mgr40 {margin-right: 40px;}
.mgr45 {margin-right: 45px;}


