
/* global*/
.container {
    width: 900px;
    margin: 0 auto;
    /* background-color: rgba(0,0,0,.3); */
}

.icon {
    background: url(/img/icon.png);
    width: 60px; height: 60px;
    display: inline-block;
    margin: 0 3px;
}

/* skip */
.skip a {
    position: absolute;
    top: -99px;left: 0;
    color: #fff;
    background: #222;
    line-height: 30px;
    padding: 10px;
    min-width: 140px;
    text-align: center;

}
.skip a:active,
.skip a:focus {
    top: 0;
}



/* header */
#header {
    background: url(/img/header_bg.jpg) center/cover repeat-x;
}

.header_menu {
   text-align: right;
}
.header_menu a{
    display: inline-block;
    padding: 10px 0 10px 13px;
    color: #fff;
}

.header_tit {
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    text-transform: uppercase;

}

.header_tit h1 {
    background: #4aa8d4;
    display: inline-block;
    font-size: 28px;
    padding: 8px 20px;

}

.header_tit span {
    display: inline-block;
    background: #2698cb;
    font-size: 18px;
    padding: 5px 20px;
    margin-top: -5px;
}

/* 헤더 아이콘 */
.header_icon {
    text-align: center;
    padding-bottom: 30px;
}


.h_icon1 {
    background-position: 0 0;
}
.h_icon2 {
    background-position: 0 -60px;
}
.h_icon3 {
    background-position: 0 -120px;
}
.h_icon4 {
    background-position: 0 -180px;
}

.h_icon1:hover {
    background-position: -60px 0;
}
.h_icon2:hover {
    background-position: -60px -60px;
}
.h_icon3:hover {
    background-position: -60px -120px;
}
.h_icon4:hover {
    background-position: -60px -180px;
}



/* 컨텐츠 */
/* 전체메뉴 */
#cont_nav {
    background: #f6fdff;
}
.nav {
    justify-content: space-between;
    padding: 30px 0;
    display: none;
}

.nav.open {
    display: flex;
}

.nav > div ul {
    columns: 2;
    column-gap: 35%;
    white-space: nowrap;
}
.nav > div:last-child ul{
    columns: 1;
}
.nav h3 {
    font-size: 18px;
    color: #25a2d0;
    margin-bottom: 4px;
}
.nav li a:hover {
    text-decoration: underline;
}

/* 컨텐츠 타이틀 */
.main_title {
    background: #eaf7fd;
    position: relative;
}
.main_tit {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    padding: 5px 0;
    letter-spacing: .2em;
    color: #2c94c4;
}
.c_btn {
    background-position: 0 -600px;
    position: absolute;
    top: 50%; right: 10%;
    transform: translateY(-50%);
}
.c_btn.active {
    background-position: 0 -660px;
}

.c_btn:hover {
    background-position: -60px -600px;
}
.c_btn.active:hover {
    background-position: -60px -660px;
} 

/* contents banner */
#cont_banner {
 background: #dceff7;
}
.banner {
position: relative;
padding: 30px 0;
}
.ban_img {
    display: flex;
    justify-content: space-between;
 
} 
.ban_img img {
    flex-shrink: 1;
    border: 3px solid #dcdcdc;
    transition: all .3s ease;
}
.ban_img img:hover {
    border: 3px solid #98bcdc;
}
.b_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 43px;
    height: 43px;
}
.prev {
    left: -60px;
    background-position: -150px 0;
}
.next {
    right: -60px;
    background-position: -150px -43px;
}
.prev:hover {
    background-position: -193px 0;
}
.next:hover {
    background-position: -193px -43px;
}

/* contents  */
#cont_cont {
    background: #f6fdff;
    padding-bottom: 30px;
}
.cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.contents_col {
    width: 33.33%;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 0 30px 0 30px;
    min-height: 273px;
}

.col1,
.col2,
.col4,
.col5 {
    border-right: 1px solid #d0d0d0;
}

.col_header {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.col_tit h3{
    font-size: 1rem;
    color: #2c94c4;

}
.cont_icon1 {
    background-position: 0 -240px;
}
.cont_icon2 {
    background-position: 0 -300px;
}
.cont_icon3 {
    background-position: 0 -360px;
}
.cont_icon4 {
    background-position: 0 -420px;
}
.cont_icon5 {
    background-position: 0 -480px;
}
.cont_icon6 {
    background-position: 0 -540px;
}
.cont_icon1:hover {
    background-position: -60px -240px;
}
.cont_icon2:hover {
    background-position: -60px -300px;
}
.cont_icon3:hover {
    background-position: -60px -360px;
}
.cont_icon4:hover {
    background-position: -60px -420px;
}
.cont_icon5:hover {
    background-position: -60px -480px;
}
.cont_icon6:hover {
    background-position: -60px -540px;
}


/* col1 게시판 */
.notice {
    position: relative;
    margin: 8px 0;
}
.item_tit { 
    font-size: 14px;
    color: #0093bd;
    padding: 8px 0 8px 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.dot ul li {
    position: relative;
    padding-left: 8px;
}
.dot ul li::before {
    content: '';
    position: absolute;
    top: 10px; left: 0;
    width: 3px;
    height: 3px;
    background: #0093bd;

}
.more {
    position: absolute;
    right: 5px; top: 2%;
    background-position: -150px -90px;
    width: 17px; 
    height: 17px;
    display: inline-block;
}
.more:hover {
    background-position: -167px -90px;
}
.notice1 ul li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notice2 ul li {
    display: flex;
    justify-content: space-between;
}
.notice2 ul li a {
    width: 65%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notice2 span {
    width: 30%;
    text-align: right;
}

/* col2 게시판 유형3  */
.notice3 li {
    padding: 5px 0;
}
.notice3 li a {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: .5rem;
    justify-content: start;
}
.notice3 img {
    width: 50px;
    border: 1px solid #0093bd;
}
.notice3 p {
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notice3 strong {
    display: block;
}
.notice3 span {
    font-size: 12px;
}


/* col4 mouse over */

.notice_hover ul{
    display: flex;
}

.notice_hover li {
    width: 33.33%;
    overflow: hidden;
    text-align: center;
   
}

.hover_img {
    position: relative;
    display: block;
    
}
.hover_img img {
    width: 100%;
    transition: all .25s ease;
}
.hover_img em {
    position: absolute;
    left: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;  
    font-size: 10px;
}
.hover1 em {
    top: 0;
    height: 100%;
}
.hover2 em {
    bottom: 0;
}
.hover_img:hover em {
    visibility: visible;
}
.hover_tit {
   display: inline-block;
   padding-top: 3px;
   font-size: 10px;
   white-space: nowrap;
   text-transform: uppercase;
}

/*col5 tab menu */
.tab_menu{
    position: relative;
    border: 1px solid #ccc;
    padding: 12px 8px;
    height: 105px;
    display: block;
    margin: 25px 0;

}
.tab_tit {
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.tab_tit_item {
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}
.tab_tit_item.active {
    background: #2c94c4;
    color: #fff;
}
.tab_tit_item {
    display: block;
    padding: 5px 10px;
    width: 270px;
}

 .tab_item_list {
    position: absolute;
    left: 0;top: 48px;
    width: 90%;
    padding: 10px;
    font-size: 14px;
 
} 

.tab_item_list li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    background: url(/img/dot.gif) no-repeat 9px 8px;
    padding-left: 18px;
    
}

/*col5 notice4 */
.notice4 {
    border: 1px solid #ccc;
}
.notice4 h4 {   
    border-bottom: 1px solid #ccc;
    padding: 8px 10px
}
.notice4 h4 em {
    color: mediumvioletred;
}

.notice4 ul {
    padding: 8px 10px
   
}
.notice4 ul li {
    display: flex;
    justify-content: space-evenly;
   
}
.notice4 ul a {
    width: 65%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notice4 ul span {
    width: 30%;
    text-align: right;
}


/* col6 gallery*/
.gallery {
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
    height: 270px;
    margin-top: 25px;
}

.gallery_btn {
    position: absolute;
    right: 5px; top: 7px;
}
.gallery_btn ul {
    display: flex;
}
.gal_btn a{
    background: url(/img/icon.png) no-repeat;
    width: 23px; height: 23px;
    display: block;
    margin: 3px;
}
.gal_btn1 a {background-position: -150px -120px;}
.gal_btn2 a {background-position: -150px -143px;}
.gal_btn3 a {background-position: -150px -166px;}
.gal_btn4 a {background-position: -150px -189px;}

.gal_btn1 a:hover {background-position: -173px -120px;}
.gal_btn2 a:hover {background-position: -173px -143px;}
.gal_btn3 a:hover {background-position: -173px -166px;}
.gal_btn4 a:hover {background-position: -173px -189px;}

.gallery_img {
    overflow: hidden;
}
.gallery_img img{
    width: 100%;
    overflow: hidden;
}

/* col3 login */
#login_form {
    background: #f2f4f5;
    padding: 15px;
    font-size: 12px;    
}
.login_header{
    display: flex;
    overflow: hidden;
    height: 30px;
}
.lh_check {
padding-right: 15px;
}
.lh_ip em{
    color: #0093bd;
    text-decoration: underline;
}
.login_main {
/* position: relative; */
    display: grid;
    grid-template-columns: auto auto;
}
.input_txt {
    width: 90%;
    height: 16px;
    padding: 2px 5px;
    border: 1px solid #bebebe;
    margin-bottom: 3px;
    background: #fff;
}

.lm_btn { 
    width: 70px;
    height: 47px;
    background: #fff;
    border: 1px solid #bebebe;
}
.login_footer {
    margin-top: 5px;
}
.login_footer li {
    display: inline;
}

/* pop up */
.popup {
    margin-top: 10px;
}
.popup ul {
    display: flex;
    overflow: hidden;
}
.popup li {
    width: 95px;
    margin-right: 5px;
}
.popup img {
    width: 100%;
}

#footer {
    border-top: 1px solid #eee;
}
.footer {
    padding: 25px 0;
    text-align: center;
    font-size: 12px;
}
.footer ul {
    margin-bottom: 20px;
}
.footer li {
    position: relative;
    display: inline;
    padding: 0 7px;
}
.footer .f_line::after {
    position: absolute;
    top: 0; left: 0;
    content: '';
    width: 1px;
    height: 17px;
    background: #ccc;
}
/* 반응형 */
@media (max-width: 1024px){
    .container {width: 95%;}
}